<div id="modal" class="point">
  <div class="content">
    {% if saved %}
      <img src="/assets/check.svg" alt="Cadastro concluído">
      <h1>Cadastro concluído</h1>
    {% endif %}
    {% if msg %}
      <img src="/assets/check.svg" alt="{{msgtxt}}">
      <h1>{{msgtxt}}</h1>

    {% endif %}
  </div>
</div>

{% if msg %}
<script>
  setTimeout(() => {
    window.location = "/create-point"
  }, 3000)
</script>
{% else %}
  <script>
    setTimeout(() => {
      window.location = "/"
    }, 2000)
  </script>
{% endif %}
